[Unit]
Description=prometheus-sunspec-exporter in docker
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop prometheus-sunspec-exporter
ExecStartPre=-/usr/bin/docker rm prometheus-sunspec-exporter
# ExecStartPre=/usr/bin/docker pull inosion/sunspec-exporter:latest # not published yet
ExecStart=/usr/bin/docker run \
  --name=prometheus-sunspec-exporter \
  --rm \
  -p 9012:9012 \
  inosion/sunspec-exporter:latest \
  start --port 9012 --sunspec_ip IP_ADDRESS_OF_SUNSPEC_DEVICE --sunspec_port 502 \
  --sunspec_address 126 --sunspec_model_ids 103,160
  
ExecStop=-/usr/bin/docker stop prometheus-sunspec-exporter

[Install]
WantedBy=multi-user.target
